@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #FFFCF7;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
#try > div{
    background-color: white;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
#try > div:hover{
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 1s;
}
#hero > div:hover{
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 1s;
}
#try{
    width: 100%;
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
#try p{
    text-align: center;
    margin: 0;
}
nav img {
    width: 75px;
    height: auto;
}

nav>.buttons {
    display: flex;
    gap: 12px;
}

.buttons .login {
    font-size: 14px;
    padding: 7px 18px;
    font-weight: 300;
    background-color: white;
    border-radius: 5px;
    font-family: "Inter";
    border: solid 2px #3F683A;
    box-sizing: border-box;
}

.card {
    background-color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 300px;
    height: 330px;
    padding: 20px 24px;
}

.cardHolder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
}
#docsHolder{
    display: flex;
}
h2{
    font-size: 34px;
    font-family: "Inter";
    font-weight:900;
    margin-bottom: 24px;
    color: #431A10;
}
.card > img {
    width: 35px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    font-size:22px;
    color: #431A10;
    font-family: "Inter";
    margin-top: 3px;
    font-weight: 500;
    margin-bottom: 0px;
}
#hero>div>div>h1 {
    font-size: 50px;
    margin-bottom: 12px;
    font-family: "Inter";
    color: #431A10;
    font-weight: 900;
}

#hero>div>div>p {
    font-size: 16px;
    font-family: "Inter";
    color: #431A10;
    font-weight: 300;
}

#hero>div>div {
    max-width: 55%;
}
.body{
    margin-top: 12px;
    font-size: 18px;
    font-weight: 300;
}
.card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
}
.card a{
    text-align: end;
    color: #3F683A;
    font-size:12px;
    font-weight: 300;
}
#cf {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

#core-features {
    width: 95%
}
footer{
    margin-top: 90px;
    padding-bottom: 40px;
    text-align: center;
}
footer > a{
    font-size: 14px;
    text-decoration: none;
    color: #431A10;
}
#hero>div {
    background-color: white;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 40px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
.competitor > img{
    width: 40px;
    border-radius: 100%;
}
.competitorNo > img{
    width: 30px;
}
td{
    text-align: center;
}
td:first-child{
    max-width: 170px;
    padding: 18px 20px;
    width: 30%;
    font-weight: 300;
}
.self > img{
    width: 50px;
}
#whyUs{
    display: flex;
    justify-content: center;
    margin-top: 70px ;
}
#whyUs > div{
    width: 95%;
}
table{
    width: 90%;
    background-color: white;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.10);
}
#docs{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
#docs > div{
    width:90%;
}
#docs > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#docs > div > div > a{
    margin: 0;
    padding: 0;
    color: #3F683A;
    text-decoration: underline;
    font-size: 13px;
}
#docs > div > div > a:hover{
    cursor: pointer;
    text-decoration: none;
}
.tableHolder{
    width: 100%;
    display: flex;
    justify-content: center;
}
#manual > img{
    width: 50px;
    border-radius: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
    font-size: 18px;
    font-weight: 800;
    color: #431A10;
}
table:hover{
    cursor: pointer;
}
td{
    font-size: 14px;
}
h3{
    color:#431A10;
    margin-bottom: 0;
}
#hero img {
    width: 370px;
    margin: 0;
    padding-bottom: 70px;
}
.feedback-card{
    background-color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    padding: 20px 24px;
}
.feedback-card > p{
    font-weight: 300;
    text-align: center;
}
.feedback-card > img{
    width:70px;
    height: 70px;
}
.feedback-card:hover{
    border: solid 0.5px #3F683A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    background-image: linear-gradient(to bottom right, white, #FFFCF7);
    transition: all 1s;
    cursor: pointer;
}
.card:hover{
    border: solid 0.5px #3F683A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    background-image: linear-gradient(to bottom right, white, #FFFCF7);
    transition: all 1s;
    cursor: pointer;
}
.form{
    width:100%;
    display: flex;
    justify-content: center;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#try > div{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 50px 6px;
}
.buttons .signUp {
    font-size: 14px;
    padding: 8px 18px;
    color: white;
    font-weight: 300;
    font-family: "Inter";
    background-color: #431A10;
    border-radius: 5px;
    border: none;
    box-sizing: border-box
}
.input{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.input:not([id="first"]){
    margin-top: 12px;
}
label{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 900;
    color: #431A10;
}
input::placeholder{
    color: #979797;
    font-size: 12px;
}
input[type="text"]{
    background-color: #431A10;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    padding: 12px 10px;
    color: white;
    font-family: "Inter";
    border: none;
    margin-top: 2px;
}
.item{
    display: flex;
}
.item > p{
    margin:3px;
    font-size: 15px;
    font-weight:300;
}
input[type="radio"]{
    accent-color: #431A10;
}
a[href="logIn.html"]{
   
    text-align: end;
    margin-top: 8px;
    font-size: 13px;
    color: #3F683A;
    text-decoration: underline;
    font-weight: 200;
    font-family: "Inter";
}
.bottomLink{
     width:80%;
     display: flex;
     justify-content: end;
}
.email{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}
.typeandemail{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
}
.terms{
    text-align: end;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 200;
    font-family: "Inter";
}
.type{
    width:20%;
}
input[type="password"]{
    background-color: #431A10;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    padding: 12px 10px;
    color: white;
    width: 92%;
    font-family: "Inter";
    border: none;
    margin-top: 2px;
}
.passwordContainer{
    width: 100%;
    background-color: #431A10;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.passwordContainer > span{
    color: white;
}
.passwordContainer > span:hover{
    cursor: pointer;
    color: #979797;
    transition: all 1s;
}
input[type="password"]:focus{
    outline:none;
}
input[type="text"]:focus{
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    outline-width: 2px;
    outline-color: #3F683A;
}
.login:hover {
    background-color: #3F683A;
    color: white;
    transition: all 0.3s;
}

.signUp:hover {
    background-color: #29100A;
    color: white;
    transition: all 0.3s;
}